export as namespace OrderCloudSDK;

{{#models}}{{#model}}
export interface {{classname}}{{#hasTypeInputs}}<{{/hasTypeInputs}}{{#typeInputs}}{{.}} = any{{^-last}}, {{/-last}}{{/typeInputs}}{{#hasTypeInputs}}>{{/hasTypeInputs}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{#vars}}
    {{baseName}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{^dataTypeModel}}{{{vendorExtensions.x-typescript-type}}}{{/dataTypeModel}}{{#dataTypeModel}}{{#containerType}}Array<{{/containerType}}{{classname}}{{#hasTypeInputs}}<{{/hasTypeInputs}}{{#typeInputs}}{{.}}{{^-last}}, {{/-last}}{{/typeInputs}}{{#hasTypeInputs}}>{{/hasTypeInputs}}{{#containerType}}>{{/containerType}}{{/dataTypeModel}}{{/isEnum}};
{{/vars}}
}
{{/model}}{{/models}}
{{#apiInfo}}{{#apis}}{{#operations}}
export namespace {{classname}} {
    {{#operation}}
    export function {{operationId}}({{#allParams}}{{^isQueryParam}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/isQueryParam}}{{/allParams}}){{#returnType}}: Promise<{{returnType}}>{{/returnType}}
    {{/operation}}
}
{{/operations}}{{/apis}}{{/apiInfo}}