{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "angular {{{ngVersion}}}+ typescript sdk for building on top of the ordercloud platform",
  "author": "ordercloud.io",
  "repository": {
    "type": "git",
    "url": "{{{npmRepository}}}"
  },
  "keywords": [
    "ordercloud",
    "four51",
    "b2b",
    "angular",
    "angular2",
    "ecommerce"
  ],
  "license": "MIT",
  "main": "dist/index.js",
  "typings": "dist/index.d.ts",
  "scripts": {
    "build": "tsc --outDir dist/",
    "postinstall": "npm run build"
  },
  "peerDependencies": {
    "@angular/core": "^6.0.0 || ^7.0.0",
    "@angular/http": "^6.0.0 || ^7.0.0",
    "@angular/common": "^6.0.0 || ^7.0.0",
    "@angular/compiler": "^6.0.0 || ^7.0.0",
    "core-js": "^2.5.4",
    "rxjs": "^{{#useRxjsVersion6Imports}}6.0.0{{/useRxjsVersion6Imports}}{{^useRxjsVersion6Imports}}5.4.0{{/useRxjsVersion6Imports}}",
    "zone.js": "<1.0.0",
    "ngx-cookie": "^4.0.0"
  },
  "devDependencies": {
    "@angular/core": "^6.0.0 || ^7.0.0",
    "@angular/http": "^6.0.0 || ^7.0.0",
    "@angular/common": "^6.0.0 || ^7.0.0",
    "@angular/compiler": "^6.0.0 || ^7.0.0",
    "@angular/platform-browser": "^6.0.0 || ^7.0.0",
    "rxjs": "^{{#useRxjsVersion6Imports}}6.0.0{{/useRxjsVersion6Imports}}{{^useRxjsVersion6Imports}}5.4.0{{/useRxjsVersion6Imports}}",
    "zone.js": "<1",
    "typescript": "^2.1.5",
    "ngx-cookie": "^4.0.0"
  }
}
